<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>xdd</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <div class="content_wrap">
            <div class="navBox">
                <div class="navBox-inline-left">xdd</div>
                <div class="navBox-inline-right">
                    <div>Projects</div>
                    <div>Links</div>
                </div>
            </div>
            <div class="about">
                <div>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
            <div class="graph_container">
                {{ table_graph | safe }}
            </div>
            <div class="projects_outer">
                <h2>Projects</h2>
                <div>
                    Currently, I have no notable projects that I could share, maybe you will be the first one to reach out.<br>
                    But if I did it would look something like this.
                </div>
                <div class="projects_inner">
                    <div class="projects_container">
                        <div><p>1</p></div>
                        <div><p>2</p></div>
                        <div><p>3</p></div>
                        <div><p>4</p></div>
                        <div><p>5</p></div>
                        <div><p>6</p></div>
                    </div>
                </div>
            </div>
            <div class="links_outer">
                <div class="links_container">
                    <div class="links_contact">
                        <div class="contact_container">
                            <div class="contact_left">
                                Contact Me
                            </div>
                            <div class="contact_right">
                                <input type="email" name="enter_email" placeholder="Enter your email"/>
                                <textarea name="email_message" placeholder="Your Message"></textarea>
                                <button class="submit_button" name="submit">Send</button>
                            </div>
                        </div>
                    </div>
                    <div class="links_socials">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer_position">
            <em>xdd {{footer_data}}. All rights reserved.</em>
        </footer>
    </body>
</html>